* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(226, 247, 247);
}
header {
  width: 100%;
  background-color: rgb(112, 250, 112);
  text-align: center;
  padding: 30px;
  box-shadow: 0px 5px 5px rgba(5, 5, 5, 0.15);
}
.navbar ul {
  text-align: center;
  margin: 35px;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(10, 253, 103);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.navbar a:hover {
  background-color: rgba(189, 187, 187, 0.5);
  border-radius: 5px;
}
.navbar li {
  /* display: flex; */
  /* padding: 10px 40px; */
  list-style: none;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  
}

.product {
  scroll-margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  width: min(100%, 350px);
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem auto;
} 

.product img {
  padding: 10px;
  max-width: 100%;
}
.card-title {
  padding: 1rem 3rem 0rem 4rem;
  line-height: 1.33;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: rgb(27, 253, 84);
  text-align: center;
}
footer {
  background-color: rgb(10, 99, 10);
  text-align: center;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
@media (min-width: 576px) {
  .product-list{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
    gap: 5px;
    
  }
  .product{
    width: min(100%,400px);
    margin: 3rem auto;
  } 
  .card-description {
    margin: 0.4rem;
    line-height: 1;
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  
  .product{
    width: min(100%, 300px);
  }
  .card-description {
    margin: 0.7rem;
    line-height: 1.5;
    font-size: 17px;
    text-align: center;
  }
}
